language: php
sudo: false

matrix:
  fast_finish: true
  include:
    - php: "7.4"
    - php: "8.0"
    - php: "nightly"
    - php: "master"
  allow_failures:
    - php: "nightly"
    - php: "master"

before_install:
    - phpenv config-rm xdebug.ini

install:
    - composer self-update
    - composer update

script:
    - vendor/bin/phpunit
    - vendor/bin/psalm
